:root {
    --balloon-border-radius: 0;
    --balloon-color: #f07d13;
    --balloon-text-color: #fff;
    --balloon-font-size: 12px;
    --balloon-move: 4px;
    --nt-orange-1: #fdc238;
    --nt-orange-2: #f07d13;
    --black-clear-def: #000c;
    --black-clear-1: #0003;
    --black-clear-2: #0006;
    --black-clear-3: #0009;
    --upvote: #3b4890;
    --upvote-1: #ffcc00;
    --upvote-2: #717baf;
    --downvote: #aaaaaa;
}
@font-face {
font-family: 'MaplestoryOTFLight';
src:url('https://ZENIXX397.github.io/Fonts/Maplestory-Light.woff') format('woff');
font-weight: normal;
font-style: normal;
}
html>body>div>div>div[style="width: 320px; height: 100px;background: url(https://upload.tgd.kr/banner/320x100n.jpg) no-repeat center center;"] {
      background: url(https://cdn.discordapp.com/attachments/780447643708293122/787298914604548126/AD.png) no-repeat center center !important;
}
* {
font-family: 'MaplestoryOTFLight', sans-serif;
}
html {
height: auto !important;
cursor:default;
transition:0.3s ease;
}
html.darkmode, html.darkmode body {
    background: #000;
}
body {
background: transparent;
transition:0.3s ease;
}
div {
transition:0.3s ease;
}
button {
transition:0.3s ease;
}
img {
transition:0.3s ease;
}
a {
text-decoration:none !important;
color: #ff68ef;
transition:0.3s ease;
}
a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
outline: none;
}
.panel-success {
border-radius: 10px !important;
}
.panel-heading {
border-top-left-radius: 10px !important;
border-top-right-radius: 10px !important;
}
.panel-body * {
border-radius: 25px !important;
}
.panel-footer{
border-bottom-left-radius: 10px !important;
border-bottom-right-radius: 10px !important;
}
span {
transition: 0.3s ease;
}
.alertify-logs > div {
border-radius: 30px;
cursor: default !important;
}
.dialog > div {
  border-radius: 10px;
}
.dialog > div > nav button {
  background: linear-gradient(-45deg, #0000 50%, #0003 0%) !important;
  background-size: 235% auto !important;
  background-position-x: 100% !important;
  background-repeat: no-repeat !important;
  border-radius: 10px !important;
}
.dialog > div > nav button:hover,
.dialog > div > nav button:active {
  background: linear-gradient(-45deg, #0000 50%, #0003 0%) !important;
  background-size: 235% auto !important;
  background-position-x: 0 !important;
  background-repeat: no-repeat !important;
}
.article-profile-img {
border-radius:25px;
}
.article-profile-img:focus, .article-profile-img:active {
border-radius:5px;
}
.fr-command.fr-btn:not(.fr-active) + .fr-dropdown-menu {
left:0 !important;
}
.fr-toolbar {
border-top-left-radius: 10px !important;
border-top-right-radius: 10px !important;
/* position: sticky !important;
top: 48px !important; */
}
/* .fr-sticky-dummy {
display: none !important;
} */
.fr-wrapper {
border-bottom-left-radius:10px !important;
border-bottom-right-radius:10px !important;
}
.fr-box, .fr-dropdown-menu, .fr-popup {
border-radius:10px !important;
}
div.fr-element.fr-view {
min-height: 118px !important;
}
.fr-placeholder {
    font-size: 0 !important;
    line-height: 20px !important;
    margin-top: -118px !important;
    padding: 16px 16px 26px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: start !important;
    position: relative !important;
    z-index: 1 !important;
}
.fr-placeholder:before{
    white-space: pre-wrap;
    font-size:14px;
    letter-spacing:-0.5px;
    content:"내용을 작성해주세요.\A완성형 폰트의 문제로 인해 일부 글자가 보이지 않을 수 있습니다.\A친목, 욕설, 차별, 저격 등의 글은 삭제될 수 있으며 \A음란물, 폭력물 등 트게더 규정에 위배되는 것을 게시하였을 경우 제재당할 수 있습니다."
}
html.darkmode .fr-placeholder:before{
    content:"내용을 작성해주세요.\A완성형 폰트의 문제로 인해 일부 글자가 보이지 않을 수 있습니다.\A친목, 욕설, 차별, 저격 등의 글은 삭제될 수 있으며\A음란물, 폭력물 등 트게더 규정에 위배되는 것을 게시하였을 경우 제재당할 수 있습니다.\A다크모드의 문제로 인해 본문과 배경의 색상이 고정됩니다. 다만 라이트모드에서는 정상적으로 표시됩니다."
}
.btn.btn-sm.btn-outline-danger:hover,
.btn.btn-sm.btn-outline-danger:focus,
.btn.btn-sm.btn-outline-danger:active {
background:#d9534f;
color:white;
}
div.modal-content,
.form-control,
.form-control:focus {
border-radius: 10px;
  box-shadow: none;
}
div.frame>div>div[align="center"] {
width: 143px !important;
background: url(https://cdn.discordapp.com/attachments/780447643708293122/787298914604548126/AD.png) no-repeat !important;
}
#header-area>a>h1 {
background: url(https://cdn.discordapp.com/attachments/780447643708293122/782137678447640586/PinkM.png) no-repeat !important;
width:91px !important;
}
.btn,.btn-group-sm>.btn, .btn-sm, .fr-tooltip {
border-radius: 30px;
}
button.close > span {
font-family: sans-serif !important;
}
.profile-img {
border-radius:15px;
}
.profile-img:active {
border-radius:4px;
}
img.reply-writer-image:active {
border-radius:5px;
}
div.reply-writer.logged,
div.list-writer.logged>span,
.comment-count {
color:#ff68ef !important;
}
#article-list {
padding:0;
padding-bottom:2em;
}
#article-list #article-list-menu>.btn.cog {
border-radius: 15px;
}
#nav-overlay {
    background: rgba(0,0,0,0.8);
    opacity: 1;
    visibility: visible;
    transition-duration: 0.3s;
}
#nav-overlay.hide {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
}
nav#nav {
    width: 300px;
    transition-duration: 0.3s;
    box-shadow: none;
}
nav#nav.hide {
    display: block !important;
    left: -300px;
    transition-duration: 0.3s;
}
#board-info>h1>a {
color:#ff68ef;
}
#board-info>h1>a:active {
color:#7129da;
}
[aria-label][data-balloon-pos][data-balloon-pos="down"]::after, [aria-label][data-balloon-pos][data-balloon-pos="down"]::before {
border-radius:30px;
}
#board-info #viewers-area .fa-user:before {
content: "\f2bd";
}
#board-info #viewers-area #viewers:after {
content:"명 접속중";
}
#main .menu-wrapper>div {
padding:0;
}
#main .menu-wrapper>a>em {
color: #7129da;
}
#main .menu-wrapper>.shortcut-link[data-shortcut="s"] {
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#main .menu-wrapper .spacer {
background:transparent;
}
#board-info-profile-img {
border-radius:25px;
}
#board-info-profile-img:active {
border-radius:5px;
}
.vote-btn[data-type="up"] {
    display: inline-block;
    border: solid var(--upvote) 1px;
    width: 60px !important;
    height: 60px;
    border-radius: 60px;
    font-size: 0;
    padding: 0;
    color: var(--upvote);
    background: linear-gradient(-45deg, #0000 50%, var(--upvote) 0%);
    background-size: 250% auto;
    background-position-x: 100%;
    background-repeat: no-repeat;
    line-height: 60px;
}
.vote-btn[data-type="up"] > .fa-thumbs-up:before {
    content: "\f005";
    font-size: 16px;
    vertical-align: middle;
}
.vote-btn[data-type="up"] > .fa-thumbs-up:after {
    content: " 개념";
    font-family: 'MaplestoryOTFLight';
    font-size: 16px;
    vertical-align: middle;
}
.vote-btn[data-type="up"]:hover, .vote-btn[data-type="up"]:active {
    color: white;
    background-position-x: 0;
}
.vote-btn[data-type="up"]:focus {
    background-position-x: 0;
    color: var(--upvote-1);
}
.vote-btn[data-type="up"] span {
    display: block;
    line-height: 16px;
    color: var(--upvote);
    font-size: 16px;
}
.vote-btn[data-type="down"] {
    display: inline-block;
    border: solid var(--downvote) 1px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    font-size: 0;
    padding: 0;
    color: var(--downvote);
    background: linear-gradient(-45deg, #0000 50%, var(--downvote) 0%);
    background-size: 250% auto;
    background-position-x: 100%;
    background-repeat: no-repeat;
    line-height: 60px;
}
.vote-btn[data-type="down"] > .fa-thumbs-down:before {
    content: "\f00d";
    font-size: 16px;
    vertical-align: middle;
}
.vote-btn[data-type="down"] > .fa-thumbs-down:after {
    content: " 비추";
    font-family: 'MaplestoryOTFLight';
    font-size: 16px;
    vertical-align: middle;
}
.vote-btn[data-type="down"]:hover, .vote-btn[data-type="down"]:active {
    color: white;
    background-position-x: 0;
}
.vote-btn[data-type="down"]:focus {
    background-position-x: 0;
    color: #d00;
}
.vote-btn[data-type="down"] span {
    display: block;
    font-size: 16px;
    line-height: 16px;
    color: var(--downvote);
}
header .row>div:nth-child(1)>a>img {
display: none;
filter: grayscale(100%);
opacity: 0.8;
}
input#header-search-input {
width:120px !important;
border:2px solid #ff68ef !important;
border-radius:30px;
transition: 0.3s ease;
}
input#header-search-input:focus {
border:2px solid #7129da !important;
transition: 0.3s ease;
}
#header-search-link .fa-search {
color:#ff68ef !important;
transition:0.3s ease;
}
header {
border-bottom: 4px solid #ff68ef;
}
#header-search-input .fa-search {
color:#7129da !important;
transition:0.3s ease;
}
html.darkmode .frame,
html.darkmode.mb #board-info,
html.darkmode.mb #article-info,
html.darkmode.mb #header-top-notice,
html.darkmode #article-content-wrapper > .header,
html.darkmode.mb #article-content-wrapper #article-content,
html.darkmode #article-content p,
html.darkmode #article-content span,
html.darkmode.mb #article-content-wrapper > .vote-area,
html.darkmode #article-content-wrapper > .footer,
html.darkmode.mb #article-reply-area,
html.darkmode.mb #article-neighbor-list,
html.darkmode .fr-box.fr-basic .fr-wrapper,
html.darkmode.mb body #main-content .frame > div[style="background:#f3f2f0;"],
html.darkmode #article-list #article-list-category,
html.darkmode.mb #article-list > .article-list-row,
html.darkmode.mb .pagination-area,
html.darkmode.mb footer {
    background: transparent !important;
}
html.darkmode #article-list #article-list-menu > .btn.write {
    border-width: 1px;
}
html.darkmode #article-content-wrapper {
    background: transparent;
}
html.darkmode.mb header {
    background: #000;
}
.fa-search {
transition:0.3s ease;
}
header #header-bar>.row {
border-top: 4px solid #ff68ef;
border-right: none;
border-bottom: none;
border-radius: 10px;
}
.title-value {
padding-right:1px;
}
#article-list #article-list-category {
border-top: 2px solid #ff68ef;
background: #fff8;
position: sticky;
top: 48px;
z-index: 18;
}
#article-list #article-list-category>a {
background: #fff8;
}
#article-list #article-list-category>a:active {
background:rgba(192,192,192,0.5);
}
#article-list #article-list-category>a.active:hover,
#article-list #article-list-category>a.active:focus {
color:#ff68ef;
}
#article-list #article-list-category>a.active:active {
background:rgba(192,192,192,0.5);
color:#ff68ef;
}
#article-list>.article-list-row>.item>.list-header>span {
background-color: #ff68ef;
}
#article-list>.article-list-row>.item>.list-title>small.comment-count {
color: #ff68ef;
}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
color: #ff68ef;
}
.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
text-align:center;
opacity: unset;
transform: unset;
border: 1px solid var(--color2);
border-radius: 10px;
box-shadow: 0 4px 4px rgba(0,0,0,.3);
transition: 0.3s ease;
}
.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
text-align:center;
display: block !important;
opacity: 0;
transform: scale(0);
transform-origin: top;
padding: 8px 0 3px 0px;
transition: 0.3s ease;
}
span.label.label-default {
float:left;
}
span.name {
padding-left:5px;
padding-right:5px;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
background: transparent;
transform: scale(1.1);
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:active {
background-color: #ff68ef;
border-color: #ff68ef;
}
.pagination>.active>a:hover {
background-color:rgba(192, 192, 192, 0.3);
color:#ff68ef;
border-color:#c0c0c0;
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>a:active,
.pagination>li>span:focus,
.pagination>li>span:hover,
.pagination>li>span:active {
color: #ff68ef;
background:rgba(192,192,192,0.5);
}
.pagination>li>a,
.pagination>li>span {
color: #ff68ef;
}
#article-content-wrapper > .header {
border-top: 2px solid #ff68ef;
position: sticky;
top: 48px;
background: #fff8;
z-index: 99;
}
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
color: #ff68ef;
}
.reply-header {
position: sticky !important;
top: 0px !important;
}
#article-info>h2 {
font-weight: bold;
}
#article-reply-area>.header h5 {
color: #ff68ef;
}
#article-reply-area>.header h5>a:hover,
#article-reply-area>.header h5>a:focus,
#article-reply-area>.header h5>a:active {
text-decoration:none !important;
color: #7129da;
}
p>a:hover,
p>a:focus {
color:#7129da;
}
#main .menu-wrapper {
border:0;
}
#main .menu-wrapper>div.header {
text-align:center;
border-top-left-radius:10px;
border-top-right-radius:10px;
padding: 0.5em 1.4em 0.5em 0.7em !important;
}
#main .menu-wrapper>a {
text-align: center;
padding: 0.5em 1.4em 0.5em 0.7em !important;
word-break:keep-all;
}
#main .menu-wrapper>div.spacer {
display:none;
}
#main .menu-wrapper>a {
background:#c0c0c0;
text-align: center;
padding: 0em 0em 0em 0em !important;
font-size:19pt;
word-break:keep-all;
}
span.a-badge i.fa.fa-info-circle {
color: #ff68ef;
}
#article-list>.article-list-row {
border-right: none;
}
#article-list #article-list-menu {
box-sizing: border-box;
background: transparent;
width: unset;
margin: 20px;
}
#article-list #boardSearchForm input {
z-index: 20;
transition: 0.3s ease;
box-shadow: none;
}
#article-list #boardSearchForm input:hover {
border:1px solid #ff68ef !important;
}
span>a:hover,
span>a:focus,
span>a:active {
color: #7129da;
}
#article-list #boardSearchForm input:focus {
border:1px solid #ff68ef !important;
box-shadow: none;
transition: 0.3s ease;
}
span>a:hover,
span>a:focus,
span>a:active {
color: #7129da;
}
#boardSearchForm {
    background: transparent;
}
.btn.square {
border-radius:30px;
}
.btn-primary {
border-color: #ff68ef !important;
background: linear-gradient(-45deg, #0000 50%, #ff68ef 0%);
background-size: 240% auto;
background-position-x: 100%;
background-repeat: no-repeat;
color: #ff68ef;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
background: linear-gradient(-45deg, #0000 50%, #ff68ef 0%);
background-size: 240% auto;
background-position-x: 0;
background-repeat: no-repeat;
color: #f6f6f6;
}
.btn-default {
color: #333;
border-color: #333;
background: linear-gradient(-45deg, #0000 50%, #333 0%) !important;
background-size: 225% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
color: #f6f6f6 !important;
border-color: #333 !important;
background: linear-gradient(-45deg, #0000 50%, #333 0%) !important;
background-size: 225% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
}
div.reply-menu>a:hover,
div.reply-menu>a:focus,
div.reply-menu>a:active {
color:#7129da;
}
.btn.square.btn-default.dropdown-toggle {
border-top-right-radius:0;
border-bottom-right-radius:0;
}
.btn.square.btn-default.best {
background: linear-gradient(-45deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn.square.btn-default.best.enable {
background: linear-gradient(135deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn.square.btn-default.best:hover,
.btn.square.btn-default.best:focus,
.btn.square.btn-default.best:active {
background: linear-gradient(-45deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
color: #f6f6f6 !important;
border-color: #efc839 !important;
}
.btn.square.btn-default.best.enable:hover,
.btn.square.btn-default.best.enable:focus,
.btn.square.btn-default.best.enable:active {
background: linear-gradient(135deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
color: #efc839 !important;
}
.btn-danger, .btn-outline-danger {
color: #d9534f;
border-color: #d9534f !important;
background: linear-gradient(-45deg, #0000 50%, #d9534f 0%) !important;
background-size: 225% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active {
background-position-x: 0 !important;
color:#f6f6f6;
}
.btn.active, .btn:active {
box-shadow: none;
}
.input-group-btn > .btn {
    border-color: #333;
}
.input-group-btn > .btn[type="button"] {
background-size: 240% auto !important;
}
.input-group-btn > .btn[type="submit"] {
background-size: 300% auto !important;
margin-left: 0px;
}
.btn-info {
color: #5bc0de;
border-color: #5bc0de !important;
background: linear-gradient(-45deg, #0000 50%, #5bc0de 0%);
background-size: 225% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
color: #f6f6f6;
background: linear-gradient(-45deg, #0000 50%, #5bc0de 0%);
background-size: 225% auto;
background-position-x: 0;
background-repeat: no-repeat;
}
#switch-platform-link:before {
content:"";
}
#movetotop {
width:48px;
border-radius: 50px;
}
.nav-up {
top: 0px !important;
}
