@font-face {
font-family: 'MaplestoryOTFLight';
src:url('https://o2genx.github.io/K5T.woff') format('woff');
font-weight: normal;
font-style: normal;
}
* {
font-family: 'MaplestoryOTFLight', sans-serif;
}
html {
height: auto !important;
cursor:default;
transition:0.3s ease;
}
body {
background: transparent;
transition:0.3s ease;
}
div {
transition:0.3s ease;
}
button {
transition:0.3s ease;
}
img {
transition:0.3s ease;
}
a {
text-decoration:none !important;
color: #ff68ef;
transition:0.3s ease;
}
a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
outline: none;
}
.panel-success {
border-radius: 10px !important;
}
.panel-heading {
border-top-left-radius: 10px !important;
border-top-right-radius: 10px !important;
}
.panel-body * {
border-radius: 50px !important;
}
.panel-footer{
border-bottom-left-radius: 10px !important;
border-bottom-right-radius: 10px !important;
}
span {
transition: 0.3s ease;
}
#writerContextMenu {
}
.alertify-logs>div {
border-radius:30px;
}
.article-profile-img {
border-radius:25px;
}
.article-profile-img:focus, .article-profile-img:active {
border-radius:5px;
}
.fr-command.fr-btn:not(.fr-active) + .fr-dropdown-menu {
left:0 !important;
}
.fr-toolbar {
border-top-left-radius:10px !important;
border-top-right-radius:10px !important;
}
.fr-wrapper {
border-bottom-left-radius:10px !important;
border-bottom-right-radius:10px !important;
}
.fr-box, .fr-dropdown-menu, .fr-popup {
border-radius:10px !important;
}
div.fr-element.fr-view {
min-height: 68px !important;
}
span.fr-placeholder {
font-size: 14px !important;
line-height: 20px !important;
margin-top: -68px !important;
padding: 16px 16px 26px !important;
margin-left: 0px !important;
margin-right: 0px !important;
text-align: start !important;
position: relative !important;
}
.btn.btn-sm.btn-outline-danger:hover,
.btn.btn-sm.btn-outline-danger:focus,
.btn.btn-sm.btn-outline-danger:active {
background:#d9534f;
color:white;
}
div.modal-content,
.form-control {
border-radius: 10px;
}
div.frame>div>div[align="center"] {
width: 143px !important;
background: url(https://cdn.discordapp.com/attachments/780447643708293122/787298914604548126/AD.png) no-repeat !important;
}
#header-area>a>h1 {
background: url(https://cdn.discordapp.com/attachments/780447643708293122/782137678447640586/PinkM.png) no-repeat !important;
width:91px !important;
}
.btn,.btn-group-sm>.btn, .btn-sm, .fr-tooltip {
border-radius: 30px;
}
button.close > span {
font-family: sans-serif !important;
}
.profile-img {
border-radius:15px;
}
.profile-img:active {
border-radius:4px;
}
img.reply-writer-image:active {
border-radius:5px;
}
div.reply-writer.logged,
div.list-writer.logged>span,
.comment-count {
color:#ff68ef !important;
}
#article-list {
padding:0;
padding-bottom:2em;
}
#article-list #article-list-menu>.btn.cog {
border-radius: 15px;
}
#article-list #article-option-area-toggle-btn {
}
#article-list #article-option-area-toggle-btn:active {
}
#board-info {
}
#board-info>h1>a {
color:#ff68ef;
}
#board-info>h1>a:active {
color:#7129da;
}
[aria-label][data-balloon-pos][data-balloon-pos="down"]::after, [aria-label][data-balloon-pos][data-balloon-pos="down"]::before {
border-radius:30px;
}
#board-info #viewers-area .fa-user:before {
content: url(https://cdn.discordapp.com/attachments/780447643708293122/781400554970677268/Gonik.gif);
}
#board-info #viewers-area {
}
#board-info #viewers-area #viewers:before {
}
#board-info #viewers-area #viewers:after {
content:"명 접속중";
}
#main .menu-wrapper>div {
padding:0;
}
#main .menu-wrapper>a>em {
color: #7129da;
}
#main .menu-wrapper>.shortcut-link[data-shortcut="s"] {
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
}
#main .menu-wrapper .spacer {
background:transparent;
}
#board-info-profile-img {
border-radius:25px;
}
#board-info-profile-img:active {
border-radius:5px;
}
.vote-btn[data-type="up"] {
display: inline-block;
border: solid #5cb85c 1px;
width:60px !important;
height: 60px;
border-radius: 60px;
font-size: 12pt;
padding-top: 18px;
padding-left:0;
padding-right:0;
background: linear-gradient(-45deg, #0000 50%, #5cb85c 0%);
background-size: 250% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
.vote-btn[data-type="up"]:hover, .vote-btn[data-type="up"]:active {
background-position-x: 0;
color: white;
}
.vote-btn[data-type="up"]:focus {
background-position-x: 0;
color: #5cb85c;
}
.vote-btn[data-type="up"] span {
display:block;
padding-top:18px;
font-size: 18px;
color: #5cb85c;
}
.vote-btn[data-type="up"]:active span {
opacity:0;
}
.vote-btn[data-type="down"] {
display: inline-block;
border: solid #0275d8 1px;
width: 60px;
height: 60px;
border-radius: 60px;
font-size: 10pt;
text-align:center;
padding-top: 20px;
padding-left:0;
padding-right:0;
background: linear-gradient(-45deg, #0000 50%, #0275d8 0%);
background-size: 250% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
.vote-btn[data-type="down"]:hover, .vote-btn[data-type="down"]:active {
background-position-x: 0;
color: white;
}
.vote-btn[data-type="down"]:focus {
background-position-x: 0;
color: #0275d8;
}
.vote-btn[data-type="down"] span {
display:block;
padding-top:18px;
font-size: 18px;
color: #0275d8;
}
.vote-btn[data-type="down"]:active span {
opacity:0;
}
header .row>div:nth-child(1)>a>img {
display: none;
filter: grayscale(100%);
opacity: 0.8;
}
input#header-search-input {
width:120px !important;
border:2px solid #ff68ef !important;
border-radius:30px;
transition: 0.3s ease;
}
input#header-search-input:focus {
border:2px solid #7129da !important;
transition: 0.3s ease;
}
#header-search-link .fa-search {
color:#ff68ef !important;
transition:0.3s ease;
}
header {
border-bottom: 4px solid #ff68ef;
}
#header-search-input .fa-search {
color:#7129da !important;
transition:0.3s ease;
}
.fa-search {
transition:0.3s ease;
}
header #header-bar>.row {
border-top: 4px solid #ff68ef;
border-right: none;
border-bottom: none;
border-radius: 10px;
}
.title-value {
padding-right:1px;
}
#article-list #article-list-category {
border-top: 2px solid #ff68ef;
background: white;
}
#article-list #article-list-category>a {
background: white;
}
#article-list #article-list-category>a:active {
background:rgba(192,192,192,0.5);
}
#article-list #article-list-category>a.active:hover,
#article-list #article-list-category>a.active:focus {
color:#ff68ef;
}
#article-list #article-list-category>a.active:active {
background:rgba(192,192,192,0.5);
color:#ff68ef;
}
#article-list>.article-list-row>.item>.list-header>span {
background-color: #ff68ef;
}
#article-list>.article-list-row>.item>.list-title>small.comment-count {
color: #ff68ef;
}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
color: #ff68ef;
}
.dropdown.open .dropdown-menu,
.input-group-btn.open .dropdown-menu {
text-align:center;
opacity: unset;
transform: unset;
border: 1px solid var(--color2);
border-radius: 10px;
box-shadow: 0 4px 4px rgba(0,0,0,.3);
transition: 0.3s ease;
}
.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
text-align:center;
display: block !important;
opacity: 0;
transform: scale(0);
transform-origin: top;
padding: 8px 0 3px 0px;
transition: 0.3s ease;
}
span.label.label-default {
float:left;
}
span.name {
padding-left:5px;
padding-right:5px;
}
.dropdown-menu>li>a {
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:active {
background: transparent;
transform: scale(1.1);
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:active {
background-color: #ff68ef;
border-color: #ff68ef;
}
.pagination>.active>a:hover {
background-color:rgba(192, 192, 192, 0.3);
color:#ff68ef;
border-color:#c0c0c0;
}
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover,
.pagination>.active>span:active {
}
.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>a:active,
.pagination>li>span:focus,
.pagination>li>span:hover,
.pagination>li>span:active {
color: #ff68ef;
background:rgba(192,192,192,0.5);
}
.pagination>li>a,
.pagination>li>span {
color: #ff68ef;
}
#article-content-wrapper>.header {
border-top: 2px solid #ff68ef;
}
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
color: #ff68ef;
}
#article-info>h2 {
font-weight: bold;
}
#article-info>h2>span.category {
}
#article-reply-area>.header h5 {
color: #ff68ef;
}
#article-reply-area>.header h5>a:hover,
#article-reply-area>.header h5>a:focus,
#article-reply-area>.header h5>a:active {
text-decoration:none !important;
color: #7129da;
}
p>a:hover,
p>a:focus {
color:#7129da;
}
#main .menu-wrapper {
border:0;
}
#main .menu-wrapper>div.header {
text-align:center;
border-top-left-radius:10px;
border-top-right-radius:10px;
padding: 0.5em 1.4em 0.5em 0.7em !important;
}
#main .menu-wrapper>a {
text-align: center;
padding: 0.5em 1.4em 0.5em 0.7em !important;
word-break:keep-all;
}
#main .menu-wrapper>div.spacer {
display:none;
}
#main .menu-wrapper>a {
background:#c0c0c0;
text-align: center;
padding: 0em 0em 0em 0em !important;
font-size:19pt;
word-break:keep-all;
}
span.a-badge i.fa.fa-info-circle {
color: #ff68ef;
}
#article-list>.article-list-row {
border-right: none;
}
#article-list #article-list-menu {
box-sizing: border-box;
background: transparent;
width: unset;
margin: 20px;
}
#article-list #boardSearchForm input {
z-index: 20;
transition: 0.3s ease;
box-shadow: none;
}
#article-list #boardSearchForm input:hover {
border:1px solid #ff68ef !important;
}
span>a:hover,
span>a:focus,
span>a:active {
color: #7129da;
}
#article-list #boardSearchForm input:focus {
border:1px solid #ff68ef !important;
box-shadow: none;
transition: 0.3s ease;
}
span>a:hover,
span>a:focus,
span>a:active {
color: #7129da;
}
.btn.square {
border-radius:30px;
}
.btn-primary {
border-color: #ff68ef !important;
background: linear-gradient(-45deg, #0000 50%, #ff68ef 0%);
background-size: 240% auto;
background-position-x: 100%;
background-repeat: no-repeat;
color: #ff68ef;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
background: linear-gradient(-45deg, #0000 50%, #ff68ef 0%);
background-size: 240% auto;
background-position-x: 0;
background-repeat: no-repeat;
color: #f6f6f6;
}
.btn-default {
color: #333;
border-color: #333;
background: linear-gradient(-45deg, #0000 50%, #333 0%) !important;
background-size: 225% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
color: #f6f6f6 !important;
border-color: #333 !important;
background: linear-gradient(-45deg, #0000 50%, #333 0%) !important;
background-size: 225% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
}
div.reply-menu>a:hover,
div.reply-menu>a:focus,
div.reply-menu>a:active {
color:#7129da;
}
.btn.square.btn-default.dropdown-toggle {
border-top-right-radius:0;
border-bottom-right-radius:0;
}
.btn.square.btn-default.best {
background: linear-gradient(-45deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn.square.btn-default.best.enable {
background: linear-gradient(135deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn.square.btn-default.best:hover,
.btn.square.btn-default.best:focus,
.btn.square.btn-default.best:active {
background: linear-gradient(-45deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
color: #f6f6f6 !important;
border-color: #efc839 !important;
}
.btn.square.btn-default.best.enable:hover,
.btn.square.btn-default.best.enable:focus,
.btn.square.btn-default.best.enable:active {
background: linear-gradient(135deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
color: #efc839 !important;
}
.btn-danger, .btn-outline-danger {
color: #d9534f;
border-color: #d9534f !important;
background: linear-gradient(-45deg, #0000 50%, #d9534f 0%) !important;
background-size: 225% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-outline-danger:hover,
.btn-outline-danger:focus,
.btn-outline-danger:active {
background-position-x: 0 !important;
color:#f6f6f6;
}
.btn.active, .btn:active {
box-shadow: none;
}
.input-group-btn > .btn {
    border-color: #333;
}
.input-group-btn > .btn[type="button"] {
background-size: 240% auto !important;
}
.input-group-btn > .btn[type="submit"] {
background-size: 300% auto !important;
margin-left: 0px;
}
.btn-info {
color: #5bc0de;
border-color: #5bc0de !important;
background: linear-gradient(-45deg, #0000 50%, #5bc0de 0%);
background-size: 225% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
color: #f6f6f6;
background: linear-gradient(-45deg, #0000 50%, #5bc0de 0%);
background-size: 225% auto;
background-position-x: 0;
background-repeat: no-repeat;
}
#switch-platform-link:before {
content:"";
}
#movetotop {
width:48px;
border-radius: 50px;
}
