@font-face {
font-family: 'MaplestoryOTFLight';
src: url('https://o2genx.github.io/K5T.woff') format('woff');
font-weight: normal;
font-style: normal;
}
* {
font-family:'MaplestoryOTFLight',sans-serif;
transition-timing-function: cubic-bezier(.25,1,1,1) !important;
}
html {
background: linear-gradient(to top, #101010, #404040);
height: auto !important;
cursor: default;
background-attachment: fixed;
}
body {
background: transparent;
}
div, button, img, a {
transition-duration: 0.3s;
}
a {
text-decoration: none !important;
color: #ff68ef;
}
a:focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
outline: none;
}
.col-xs-2>div:last-child {
  background: transparent !important;
  padding: 0 !important;
}
.panel-success {
border-radius: 10px !important;
}
.panel-heading {
border-top-left-radius: 10px !important;
border-top-right-radius: 10px !important;
}
.panel-body * {
border-radius: 25px !important;
}
.panel-footer {
border-bottom-left-radius: 10px !important;
border-bottom-right-radius: 10px !important;
}
span {
transition-duration: 0.3s;
}
#writerContextMenu {}
.alertify-logs > div {
border-radius: 30px;
cursor: default !important;
}
.dialog > div {
  border-radius: 10px;
}
.dialog > div > nav button {
  background: linear-gradient(-45deg, #0000 50%, #0003 0%) !important;
  background-size: 235% auto !important;
  background-position-x: 100% !important;
  background-repeat: no-repeat !important;
  border-radius: 10px !important;
}
.dialog > div > nav button:hover,
.dialog > div > nav button:active {
  background: linear-gradient(-45deg, #0000 50%, #0003 0%) !important;
  background-size: 235% auto !important;
  background-position-x: 0 !important;
  background-repeat: no-repeat !important;
}
.article-profile-img {
border-radius: 25px;
}
.article-profile-img:hover {
border-radius: 5px;
}
.fr-command.fr-btn:not(.fr-active) + .fr-dropdown-menu {
left: 0 !important;
}
.fr-toolbar {
border-top-left-radius: 10px !important;
border-top-right-radius: 10px !important;
/* position: sticky !important;
top: 0px !important; */
}
/* .fr-sticky-dummy {
display: none !important;
} */
.fr-wrapper {
border-bottom-left-radius: 10px !important;
border-bottom-right-radius: 10px !important;
}
.fr-box,
.fr-dropdown-menu,
.fr-popup {
border-radius: 10px !important;
}
.fr-popup {
/* top: 30px !important;
left: auto !important; */
}
div.fr-element.fr-view {
min-height: 118px !important;
}
span.fr-placeholder {
font-size: 14px !important;
line-height: 20px !important;
margin-top: -118px !important;
padding: 16px 16px 26px !important;
margin-left: 0px !important;
margin-right: 0px !important;
text-align: start !important;
position: relative !important;
}
div.modal-content,
.form-control,
.form-control:focus {
border-radius: 10px;
  box-shadow: none;
}
header .row > div:nth-child(1) > a {
display: block;
width: 145px;
height: 50px;
background: url(https://cdn.discordapp.com/attachments/780447643708293122/782135003722154004/Pink.png) no-repeat;
background-size: auto 50px;
}
.btn,
.btn-group-sm > .btn,
.btn-sm,
.fr-tooltip {
border-radius: 30px;
}
button.close > span {
    font-family: sans-serif !important;
}
.profile-img {
border-radius: 15px;
}
.profile-img:hover {
border-radius: 4px;
}
img.reply-writer-image:hover {
border-radius: 5px;
}
div.reply-writer.logged:hover,
div.list-writer.logged > span:hover {
color: #7129da !important;
}
#article-content-wrapper, #article-reply-area #reply-real-area, #article-reply-area #reply-best-area {
padding: 0 !important;
}
#article-list {
padding: 0;
padding-bottom: 2em;
}
#article-list #article-list-menu > .btn.cog {
border-radius: 15px;
}
#article-option-area {
position: sticky;
float: right;
}
#article-list #article-option-area-toggle-btn {}
#article-list #article-option-area-toggle-btn:hover {}
#board-info {}
#board-info > h1 > a {
color: #ff68ef;
}
#board-info {
margin: 0 !important;
/*position: sticky;*/
top: 0;
background: #fffa;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
z-index: 100;
}
#board-info > h1 > a:hover {
color: #7129da;
}
[aria-label][data-balloon-pos][data-balloon-pos="down"]::after,
[aria-label][data-balloon-pos][data-balloon-pos="down"]::before {
border-radius: 30px;
}
#board-info #viewers-area .fa-user:before {
content: url(https://cdn.discordapp.com/attachments/780447643708293122/781400554970677268/Gonik.gif);
}
#board-info #viewers-area {}
#board-info #viewers-area #viewers:before {
content: "";
opacity: 0;
transition-duration: 0.3s;
}
#board-info #viewers-area #viewers:after {
content: "명 접속중";
opacity: 0;
transition-duration: 0.3s;
}

#board-info #viewers-area #viewers:hover:before,
#board-info #viewers-area #viewers:hover:after {
opacity: 1;
transition-duration: 0.3s;
}
#board-info #board-info-bottom a {
padding: 3px;
color: #ff68ef;
}
#board-info #board-info-bottom a:hover {
color: #7129da;
}
#main .menu-wrapper > div {
padding: 0;
}
#main .menu-wrapper > a > em {
color: #7129da;
}
#main .menu-wrapper .spacer {
background: transparent;
}
#board-info-profile-img {
border-radius: 25px;
}
#board-info-profile-img:hover {
border-radius: 5px;
}
.vote-btn[data-type="up"] {
display: inline-block;
border: solid #5cb85c 1px;
width: 60px !important;
height: 60px;
border-radius: 60px;
font-size: 12pt;
padding-top: 18px;
padding-left: 0;
padding-right: 0;
background: linear-gradient(-45deg, #0000 50%, #5cb85c 0%);
background-size: 250% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
.vote-btn[data-type="up"]:hover {
background-position-x: 0;
color: white;
}
.vote-btn[data-type="up"]:focus {
background-position-x: 0;
color: #5cb85c;
}
.vote-btn[data-type="up"] span {
display: block;
padding-top: 18px;
font-size: 18px;
color: #5cb85c;
}
.vote-btn[data-type="up"]:hover span {
opacity: 0;
}
.vote-btn[data-type="down"] {
display: inline-block;
border: solid #0275d8 1px;
width: 60px;
height: 60px;
border-radius: 60px;
font-size: 10pt;
text-align: center;
padding-top: 20px;
padding-left: 0;
padding-right: 0;
background: linear-gradient(-45deg, #0000 50%, #0275d8 0%);
background-size: 250% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
.vote-btn[data-type="down"]:hover {
background-position-x: 0;
color: white;
}
.vote-btn[data-type="down"]:focus {
background-position-x: 0;
color: #0275d8;
}
.vote-btn[data-type="down"] span {
display: block;
padding-top: 18px;
font-size: 18px;
color: #0275d8;
}
.vote-btn[data-type="down"]:hover span {
opacity: 0;
}
header .row > div:nth-child(1) > a > img {
display: none;
filter: grayscale(100%);
opacity: 0.8;
}
header #right-search-form > input[type='text'] {
width: 95px;
border-radius: 50px;
border: 3px solid #ff68ef;
transition-duration: 0.3s;
}
header #right-search-form > input[type='text']:hover {
border: 3px solid #7129da;
transition-duration: 0.3s;
}
header #right-search-form > input[type='text']:focus {
width: 270px;
border: 3px solid #7129da;
}
header #right-search-form > #right-search-btn {
color: #ff68ef;
transition-duration: 0.3s;
}
header #right-search-form > #right-search-btn:hover,
header #right-search-form > #right-search-btn:focus {
color: #7129da;
transform: scale(1.1);
transition-duration: 0.3s;
}
header #header-bar > .row {
border-top: 4px solid #ff68ef;
border-right: none;
border-bottom: none;
border-radius: 10px;
}
#main #main-content > div.frame {
border: 0;
border-radius: 10px;
}
div.list-title > a {
padding-right: 1px;
}
#article-list > .article-list-row > .item > .list-title > .list-writer > span {
height: 18px;
width: 120px;
}
#article-list #article-list-category {
border-top: 2px solid #ff68ef;
background: #fff8;
position: sticky;
top: 0px;
z-index: 18;
}
#article-list #article-list-category > a {
background: #fff8;
position: relative;
}
#article-list #article-list-category > a::after {
bottom: 0;
height: 2px;
width: 100%;
background: #ff68ef;
content: "";
position: absolute;
left: 0px;
transform: scaleX(0);
transition-duration: 0.3s;
}
#article-list #article-list-category > a:hover {
background: rgba(192, 192, 192, 0.5);
}
#article-list #article-list-category > a:hover::before,
#article-list #article-list-category > a:hover::after {
transform: scaleX(1);
}
#article-list #article-list-category > a.active:focus {
color: #ff68ef;
}
#article-list #article-list-category > a.active:hover {
background: rgba(192, 192, 192, 0.5);
color: #ff68ef;
}
#article-list > .article-list-row > .item > .list-header {
border:0;
}
#article-list > .article-list-row > .item > .list-header > span {
background-color: #ff68ef;
}
#article-list > .article-list-row > .item > .list-title > small.comment-count {
color: #ff68ef;
}
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
color: #ff68ef;
}
#article-list > .article-list-row {
background: linear-gradient(-45deg, #0000 50%, rgba(255, 104, 239, 0.5) 0%);
background-size: 225% auto;
background-position-x: 100%;
background-repeat: no-repeat;
transition-duration: 0.6s;
border:0;
}
#article-list > .article-list-row.notice {
background: linear-gradient(-45deg, #f3f3f3 50%, rgba(255, 104, 239, 0.5) 0%);
background-size: 225% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
#article-list > .article-list-row.hot {
background: linear-gradient(-45deg, #f3eef7 50%, rgba(255, 104, 239, 0.5) 0%);
background-size: 225% auto;
background-repeat: no-repeat;
background-position-x: 100%;
}
#article-list > .article-list-row.active {
background: linear-gradient(-45deg, #FFF9E5 50%, rgba(255, 104, 239, 0.5) 0%);
background-size: 225% auto;
background-repeat: no-repeat;
background-position-x: 100%;
}
#article-list > .article-list-row:hover {
background: linear-gradient(-45deg, #0000 50%, rgba(255, 104, 239, 0.5) 0%);
background-size: 225% auto;
background-repeat: no-repeat;
background-position-x: 0;
}
#article-list > .article-list-row.notice:hover {
background: linear-gradient(-45deg, #f3f3f3 50%, rgba(255, 104, 239, 0.5) 0%);
background-size: 225% auto;
background-repeat: no-repeat;
background-position-x: 0;
}
#article-list > .article-list-row.hot:hover {
background: linear-gradient(-45deg, #f3eef7 50%, rgba(255, 104, 239, 0.5) 0%);
background-size: 225% auto;
background-repeat: no-repeat;
background-position-x: 0;
}
#article-list > .article-list-row.active:hover {
background: linear-gradient(-45deg, #FFF9E5 50%, rgba(255, 104, 239, 0.5) 0%);
background-size: 225% auto;
background-repeat: no-repeat;
background-position-x: 0;
}
#article-list > .article-list-row > .item > .list-title > a:visited {
color: #b0b0b0 !important;
}
#article-list > .article-list-row>.item>.v0 {
visibility: hidden;
}
#article-list > .article-list-row.active>.item>.list-header {
color: #ff68ef;
}
#article-list > .article-list-row.active>.item>.list-header, #article-list > .article-list-row.notice>.item>.v0 {
visibility:visible;
}
#article-list > .article-list-row > .item > .list-checkbox, #article-list > .article-list-row > .item > .list-header, #article-list > .article-list-row > .item > .list-category, #article-list > .article-list-row > .item > .list-title, #article-list > .article-list-row > .item > .list-blocked, #article-list > .article-list-row > .item > .list-time, #article-list > .article-list-row > .item > .list-title > .list-category, #article-list > .article-list-row > .item > .list-title > .list-writer {
border: 0;
}
.dropdown.open .dropdown-menu,
#writerContextMenu,
.input-group-btn.open .dropdown-menu {
text-align: center;
opacity: unset;
transform: unset;
border: 1px solid var(--color2);
border-radius: 10px;
box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
transition-duration: 0.3s;
}
.dropdown .dropdown-menu,
.input-group-btn .dropdown-menu {
text-align: center;
display: block !important;
opacity: 0;
transform: scale(0);
transform-origin: top;
padding: 8px 0 3px 0px;
transition-duration: 0.3s;
}
span.label.label-default {
float: left;
}
span.name {
padding-left: 5px;
padding-right: 5px;
}
.dropdown-menu > li > a {}
.dropdown-menu > li > a:hover {
background: transparent;
transform: scale(1.1);
}
.pagination > .active > a,
.pagination > .active > a:focus {
background-color: #ff68ef;
border-color: #ff68ef;
}
.pagination > .active > a:hover {
background-color: rgba(192, 192, 192, 0.3);
color: #ff68ef;
border-color: #c0c0c0;
}
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
color: #ff68ef;
background: rgba(192, 192, 192, 0.5);
}
.pagination > li > a,
.pagination > li > span {
color: #ff68ef;
}
#article-content-wrapper > .header {
border-top: 2px solid #ff68ef;
position: sticky;
top: 0px;
background: #fff8;
z-index: 99;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged,
#article-reply-area #reply-best-area .reply > .reply-header > .reply-writer.logged {
color: #ff68ef;
}
.reply-header {
position: sticky !important;
top: 0px !important;
}
#article-info {
/*position: sticky;*/
top: 0px;
background: #fffa;
z-index: 100;
}
#article-info > h2 {
font-weight: bold;
white-space: normal;
}
#article-info > h2 > span.category {}
#article-reply-area > .header h5 {
color: #ff68ef;
}
#article-reply-area > .header h5 > a:hover, #article-reply-area > .header h5 > a:focus {
text-decoration: none !important;
color: #7129da;
}
#article-neighbor-list > div {
background: linear-gradient(-45deg, #0000 50%, #cacaca 0%);
background-size: 225% auto;
background-repeat: no-repeat;
background-position-x: 100%;
transition-duration: 0.6s;
}
#article-neighbor-list > div:hover {
background: linear-gradient(-45deg, #0000 50%, #cacaca 0%);
background-size: 225% auto;
background-repeat: no-repeat;
background-position-x: 0;
transition-duration: 0.6s;
}
#article-neighbor-list {
padding:0;
}
#article-neighbor-list > div > span.indicator {
padding-left: 1em;
}
#article-neighbor-list > div > a {
padding-left: 0.5em;
}
#article-neighbor-list > div > span.author {
padding-right: 1em;
color:#000;
}
#main .menu-wrapper {
border: 0;
letter-spacing: -0.05em !important;
}
#main .menu-wrapper > div.header {
text-align: center;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: 0.5em 1.4em 0.5em 0.7em !important;
}
#main .menu-wrapper > a {
text-align: center;
padding: 0.5em 1.4em 0.5em 0.7em !important;
word-break: keep-all;
position: relative;
z-index: 2;
box-sizing: border-box;
border: 0;
}
#main .menu-wrapper div.spacer {
display: none;
}
#main .menu-wrapper > a:hover {
background: #c0c0c0;
text-align: center;
padding: 0em 0em 0em 0em !important;
font-size: 19pt;
word-break: keep-all;
background: white;
}
#main .menu-wrapper > a:after {
content: "";
height: 100%;
left: 0;
top: 0;
width: 100%;
position: absolute;
z-index: -1;
transition-duration: 0.36s;
background: linear-gradient(-45deg, #0000 50%, #7129da88 0%);
background-size: 225% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
#main .menu-wrapper > a:hover:after {
background-position-x: 0;
transition-duration: 0.36s;
}
#main .menu-wrapper > a:last-child {
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
#main .menu-wrapper > a:last-child:after {
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}
span.a-badge i.fa.fa-info-circle {
color: #ff68ef;
}
.fr-element {
cursor: text;
}
#article-list #article-list-menu {
box-sizing: border-box;
width: unset;
margin: 20px;
}
#article-list #boardSearchForm {
padding-bottom: 20px;
height: unset;
}
#article-list #boardSearchForm input {
z-index: 20;
transition-duration: 0.3s;
box-shadow: none;
}
#article-list #boardSearchForm input:hover {
border:1px solid #ff68ef !important;
}
span>a:hover,
span>a:focus,
span>a:active {
color: #7129da;
}
#article-list #boardSearchForm input {
border: 1px solid #333
}
#article-list #boardSearchForm input:focus {
border:1px solid #ff68ef !important;
box-shadow: none;
transition-duration: 0.3s;
}
p>a:hover,
p>a:focus {
color:#7129da;
}
.btn.square {
border-radius: 30px;
}
.btn-primary {
border-color: #ff68ef !important;
background: linear-gradient(-45deg, #0000 50%, #ff68ef 0%);
background-size: 240% auto;
background-position-x: 100%;
background-repeat: no-repeat;
color: #ff68ef;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
background: linear-gradient(-45deg, #0000 50%, #ff68ef 0%);
background-size: 240% auto;
background-position-x: 0;
background-repeat: no-repeat;
color: #f6f6f6;
}
.btn-default {
color: #333;
border-color: #333;
background: linear-gradient(-45deg, #0000 50%, #333 0%) !important;
background-size: 225% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
color: #f6f6f6 !important;
border-color: #333 !important;
background: linear-gradient(-45deg, #0000 50%, #333 0%) !important;
background-size: 225% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
}
div.reply-menu > a:hover,
div.reply-menu > a:focus {
color: #7129da;
}
.btn.square.btn-default.dropdown-toggle {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
.btn.square.btn-default.best {
background: linear-gradient(-45deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn.square.btn-default.best.enable {
background: linear-gradient(135deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn.square.btn-default.best:hover,
.btn.square.btn-default.best:focus {
background: linear-gradient(-45deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
color: #f6f6f6 !important;
border-color: #efc839 !important;
}
.btn.square.btn-default.best.enable:hover,
.btn.square.btn-default.best.enable:focus {
background: linear-gradient(135deg, #0000 50%, #efc839 0%) !important;
background-size: 240% auto !important;
background-position-x: 0 !important;
background-repeat: no-repeat !important;
color: #efc839 !important;
}
.btn-danger, .btn-outline-danger {
color: #d9534f;
border-color: #d9534f !important;
background: linear-gradient(-45deg, #0000 50%, #d9534f 0%) !important;
background-size: 225% auto !important;
background-position-x: 100% !important;
background-repeat: no-repeat !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-outline-danger:hover,
.btn-outline-danger:focus {
background-position-x: 0 !important;
color:#f6f6f6;
}
.btn.active, .btn:active {
box-shadow: none;
}
#movetotop {
width: 48px;
border-radius: 50px;
transition-duration: 0s;
}
.input-group-btn > .btn {
border-color: #333;
}
.input-group-btn > .btn[type="button"] {
background-size: 240% auto !important;
}
.input-group-btn > .btn[type="submit"] {
background-size: 300% auto !important;
margin-left: 0px;
}
.btn-info {
color: #5bc0de;
border-color: #5bc0de !important;
background: linear-gradient(-45deg, #0000 50%, #5bc0de 0%);
background-size: 225% auto;
background-position-x: 100%;
background-repeat: no-repeat;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active {
color: #f6f6f6;
background: linear-gradient(-45deg, #0000 50%, #5bc0de 0%);
background-size: 225% auto;
background-position-x: 0;
background-repeat: no-repeat;
}
#comment-write-form-area {
    padding: 0;
}
